.popup {
  width: 400px;
  height: 180px;
  left: calc(50% - 200px);
  position: fixed;
  border: 1px solid #eff4f4;
  border-radius: 5px;
  background: #fff;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 11;

  .popup-header {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #eff4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic", sans-serif;
    text-decoration: underline;
    font-size: 18px;
  }

  .popup-content-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;

    span {
      padding-right: 10px;
      font-family: "Century Gothic", sans-serif;
    }
  }

  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    .content-input {
      outline: none;
      border: 1px solid #eff4f4;
      width: 80%;
      height: 50px;
      margin-top: 20px;
      box-shadow: #eff4f4 0 0 16px;
    }
  }

  .popup-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .close {
      font-family: "Century Gothic", sans-serif;
      font-size: 16px;
      color: #0014ff;
      text-decoration: underline;
      cursor: pointer;
      padding: 10px;
    }
  }
}
